In [1]:
import pandas as pd
import numpy as np

In [2]:
datas = pd.date_range('20200101', periods=6)

df = pd.DataFrame(np.random.randn(6, 4), index=datas, columns=['Var_A', 'Var_B', 'Var_C', 'Var_D'])

In [3]:
df

               Var_A     Var_B     Var_C     Var_D
2020-01-01  0.734867  1.038480  0.037983  0.933771
2020-01-02  0.671183  1.389993 -0.460147 -0.581349
2020-01-03  0.535014  0.197229 -0.060521  1.086894
2020-01-04  0.455464  0.062053  0.400028  1.180277
2020-01-05  0.636607 -0.927190  1.100714 -1.329730
2020-01-06  1.420849  1.204680 -2.112189  0.143461

In [5]:
dft = df.T

In [6]:
v = dft.values

In [7]:
v.reshape(2,12)

array([[ 0.73486742,  0.67118345,  0.5350139 ,  0.45546428,  0.63660678,
         1.4208488 ,  1.03847955,  1.38999329,  0.19722929,  0.06205258,
        -0.92719032,  1.20468046],
       [ 0.03798271, -0.46014748, -0.06052086,  0.40002752,  1.10071377,
        -2.11218853,  0.93377137, -0.58134876,  1.08689396,  1.18027694,
        -1.32972989,  0.1434607 ]])