In [27]:
import pandas as pd
import numpy as np

In [28]:
series = pd.Series([7, 4, 2, np.nan, 6, 9])

In [29]:
series

0    7.0
1    4.0
2    2.0
3    NaN
4    6.0
5    9.0
dtype: float64

In [30]:
type(series)

pandas.core.series.Series

In [31]:
datas = pd.date_range('20180101', periods=6, freq="D")

In [32]:
datas

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [33]:
df = pd.DataFrame(np.random.randn(6,4), index=datas, columns=list("ABCD"))

In [34]:
df

                   A         B         C         D
2018-01-01  1.844564 -1.517423  1.976500  1.093197
2018-01-02 -1.487457 -0.609853 -0.630409 -0.490470
2018-01-03  0.504912  0.140126 -0.233857 -0.065070
2018-01-04 -2.135884  0.075068 -1.216413  0.234493
2018-01-05 -1.003414 -0.193342 -1.484359 -0.495522
2018-01-06  0.455184 -0.132984  0.766143  2.452933

In [35]:
df2 = pd.DataFrame({"A":7, 
                    "B":pd.Timestamp('20190101'),
                    "C":pd.Series(1, index=list(range(4)), dtype='float32'),
                    "D":np.array([3] * 4, dtype='int32'),
                    "E":pd.Categorical(["test", "train", "test", "train"]),
                    "F":'Python'})

In [36]:
df2

   A          B    C  D      E       F
0  7 2019-01-01  1.0  3   test  Python
1  7 2019-01-01  1.0  3  train  Python
2  7 2019-01-01  1.0  3   test  Python
3  7 2019-01-01  1.0  3  train  Python

In [37]:
df2.dtypes

A            int64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [39]:
# apresenta as primeiras linhas do df
df.head(2)

                   A         B         C         D
2018-01-01  1.844564 -1.517423  1.976500  1.093197
2018-01-02 -1.487457 -0.609853 -0.630409 -0.490470

In [40]:
# apresenta as últimas linhas do df
df.tail(2)

                   A         B         C         D
2018-01-05 -1.003414 -0.193342 -1.484359 -0.495522
2018-01-06  0.455184 -0.132984  0.766143  2.452933

In [41]:
# apresenta os index de referencia do df
df.index

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [42]:
# apresenta as colunas do df
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [43]:
# ignora cabeçalho e índice
df.to_numpy()

array([[ 1.84456413, -1.51742301,  1.97650034,  1.09319693],
       [-1.48745667, -0.60985338, -0.63040907, -0.49047028],
       [ 0.50491155,  0.14012553, -0.23385721, -0.06507028],
       [-2.13588354,  0.07506751, -1.21641326,  0.23449303],
       [-1.00341434, -0.1933423 , -1.48435872, -0.49552191],
       [ 0.45518377, -0.13298401,  0.76614257,  2.45293281]])

In [44]:
# retornar a matriz transposta do df
df.T

   2018-01-01  2018-01-02  2018-01-03  2018-01-04  2018-01-05  2018-01-06
A    1.844564   -1.487457    0.504912   -2.135884   -1.003414    0.455184
B   -1.517423   -0.609853    0.140126    0.075068   -0.193342   -0.132984
C    1.976500   -0.630409   -0.233857   -1.216413   -1.484359    0.766143
D    1.093197   -0.490470   -0.065070    0.234493   -0.495522    2.452933

In [45]:
df2.T

,0,1,2,3
A,7,7,7,7
B,2019-01-01 00:00:00,2019-01-01 00:00:00,2019-01-01 00:00:00,2019-01-01 00:00:00
C,1.0,1.0,1.0,1.0
D,3,3,3,3
E,test,train,test,train
F,Python,Python,Python,Python

In [47]:
df2.to_numpy()

array([[7, Timestamp('2019-01-01 00:00:00'), 1.0, 3, 'test', 'Python'],
       [7, Timestamp('2019-01-01 00:00:00'), 1.0, 3, 'train', 'Python'],
       [7, Timestamp('2019-01-01 00:00:00'), 1.0, 3, 'test', 'Python'],
       [7, Timestamp('2019-01-01 00:00:00'), 1.0, 3, 'train', 'Python']],
      dtype=object)