In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({'A': ['verdadeiro', 'falso', 'verdadeiro', 'falso',
   ....:                          'verdadeiro', 'falso', 'verdadeiro', 'falso'],
   ....:                    'B': ['um', 'um', 'dois', 'tres',
   ....:                          'dois', 'dois', 'um', 'tres'],
   ....:                    'C': np.random.randn(8),
   ....:                    'D': np.random.randn(8)})

In [ ]:
df

            A     B         C         D
0  verdadeiro    um  0.059076  0.323280
1       falso    um -0.081301 -1.050412
2  verdadeiro  dois  0.332312 -0.599970
3       falso  tres -1.663166 -1.056727
4  verdadeiro  dois -0.755497 -1.585927
5       falso  dois -1.707821  2.033955
6  verdadeiro    um -0.290368 -0.902597
7       falso  tres  0.033102 -0.525751

In [ ]:
df.groupby(['A']).sum()

                   C         D
A
falso      -3.419186 -0.598934
verdadeiro -0.654476 -2.765214

In [ ]:
df.groupby(['A']).mean()

In [ ]:
df.groupby(['B']).sum()

In [ ]:
df.groupby(['A', 'B']).sum()

                        C         D
A          B
falso      dois -1.707821  2.033955
           tres -1.630064 -1.582477
           um   -0.081301 -1.050412
verdadeiro dois -0.423185 -2.185897
           um   -0.231292 -0.579317